<template>
  <div class="main-container">
    <div class="mobile-view_container">
      <div>
        <div class="header-border"></div>
        <div class="header">
          <div class="login_text">Login</div>
        </div>
      </div>
      <div>
        <div class="deine-job-text">Deine Job</div>
        <div class="deine-job-text">Website</div>
      </div>
      <img class="image-styling" src="../assets/testmobileimg.svg" />
      <div class=" footer">
        <div class="button">
          <a class="button-text" href="#">kostenlos Registrieren</a>
        </div>
      </div>
      <div class="border-bottom"></div>
      <div class="tab">
        <button class="tablinks btn-left-radius" @click="openCity($event, 'London')">Arbeitnehmer</button>
        <button class="tablinks" @click="openCity($event, 'Paris')">Arbeitgeber</button>
        <button class="tablinks btn-right-radius" @click="openCity($event, 'Tokyo')">Temporarburo</button>
      </div>

        <div id="London" class="tabcontent">

          <div class="tab-heading">Drei einfache Schritte</div>
          <div class="tab-heading">Zu deinem neuen job</div>
          <div class="image-container">
            <img class="tab1-first-img" src="../assets/tab1firstimg.png" />
          </div>
          <div class="fist-container">
            <div class="one-bg-container">
              <div class="text-style">1.</div>
            </div>
            <div class="text-container">
              <div class="num-one-text">Erstellen dein Lebenslauf</div>
              <!-- <div class="num-one-text">Unternehmensprofil</div> -->
            </div>
          </div>
          <div class="second-container">
            <div class="second-text_container">
              <div class="two-text-style">2.</div>
              <div class="erstellen-text">Erstellen dein Lebenslauf</div>
            </div>

            <div class="second-image-container">
              <img class="tab1-first-img" src="../assets/tab1secondimg.svg" />
            </div>
          </div>
          <div class="third-main-container">
            <div class="third-container"> </div>
            <div class="third-text_container">
              <div class="third-text-style">3.</div>
              <div>
                <div class="erstellen-dein-text">bewerben </div>
                <div class="erstellen-dein-text">Mit rur einem Klick</div>
              </div>
            </div>
          </div>
          <div class="third-image-container">
            <img class="tab1-first-img" src="../assets/tab1thirdimg.svg" />
          </div>

        </div>

        <div id="Paris" class="tabcontent">


          <div class="tab-heading">Drei einfache Schritte</div>
          <div class="tab-heading">Zu deinem neuen job</div>
          <div class="image-container">
            <img class="tab1-first-img" src="../assets/tab1firstimg.png" />
          </div>
          <div class="fist-container">
            <div class="one-bg-container">
              <div class="text-style">1.</div>
            </div>
            <div class="text-container">
              <div class="num-one-text">Erstellen dein Lebenslauf</div>
              <!-- <div class="num-one-text">Unternehmensprofil</div> -->
            </div>
          </div>
          <div class="second-container">
            <div class="second-text_container">
              <div class="two-text-style">2.</div>
              <div class="erstellen-text">Erstellen dein Lebenslauf</div>
            </div>

            <div class="second-image-container">
              <img class="tab1-first-img" src="../assets/tab1secondimg.svg" />
            </div>
          </div>
          <div class="third-main-container">
            <div class="third-container"> </div>
            <div class="third-text_container">
              <div class="third-text-style">3.</div>
              <div>
                <div class="erstellen-dein-text">bewerben </div>
                <div class="erstellen-dein-text">Mit rur einem Klick</div>
              </div>
            </div>
          </div>
          <div class="third-image-container">
            <img class="tab1-first-img" src="../assets/tab1thirdimg.svg" />
          </div>

        </div>

        <div id="Tokyo" class="tabcontent">


          <div class="tab-heading">Drei einfache Schritte</div>
          <div class="tab-heading">Zu deinem neuen job</div>
          <div class="image-container">
            <img class="tab1-first-img" src="../assets/tab1firstimg.png" />
          </div>
          <div class="fist-container">
            <div class="one-bg-container">
              <div class="text-style">1.</div>
            </div>
            <div class="text-container">
              <div class="num-one-text">Erstellen dein Lebenslauf</div>
              <!-- <div class="num-one-text">Unternehmensprofil</div> -->
            </div>
          </div>
          <div class="second-container">
            <div class="second-text_container">
              <div class="two-text-style">2.</div>
              <div class="erstellen-text">Erstellen dein Lebenslauf</div>
            </div>

            <div class="second-image-container">
              <img class="tab1-first-img" src="../assets/tab1secondimg.svg" />
            </div>
          </div>
          <div class="third-main-container">
            <div class="third-container"> </div>
            <div class="third-text_container">
              <div class="third-text-style">3.</div>
              <div>
                <div class="erstellen-dein-text">bewerben </div>
                <div class="erstellen-dein-text">Mit rur einem Klick</div>
              </div>
            </div>
          </div>
          <div class="third-image-container">
            <img class="tab1-first-img" src="../assets/tab1thirdimg.svg" />
          </div>

        </div>

        <!-- <script>
          function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
        </script> -->

        <!-- Tabs End -->

      </div>
    </div>
</template>

<script>
    export default {
      methods: {
        openCity: function(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
      }
    }
</script>

<style lang="scss" scoped>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.main-container {
  @apply min-h-screen flex justify-center items-center mx-auto;
}
.header {
  box-shadow: 0px 4px 5px -2px rgba(100, 100, 100, 0.43);
  @apply bg-white p-8 rounded-lg rounded-bl-xl rounded-br-xl flex justify-end;
}
.header-border {
  background-color: linear-gradient(to right, #009999 26%, #207cb9 61%);
  @apply w-full h-4;
}
.mobile-view_container {
  background-color: rgb(217, 236, 236);
  @apply h-screen w-96 flex justify-between flex-col;
}
.login_text {
  color: rgb(68, 172, 172);
  @apply text-base font-medium not-italic font-sans cursor-pointer;
}
.footer {
  box-shadow: 0px -4px 4px -1px rgba(128, 125, 125, 0.43);
  @apply bg-white p-4 rounded-bl-xl rounded-br-xl;
}
.button {
  background: linear-gradient(to right, #009999 26%, #207cb9 61%);
  @apply p-2.5 rounded-lg flex justify-center items-center cursor-pointer;
}
.button-text {
  @apply no-underline text-white text-sm font-medium not-italic	font-sans;
}

.deine-job-text {
  @apply text-black text-center	not-italic font-sans mt-1.5 font-medium text-4xl	;
}

.image-styling {
  @apply w-full bg-contain bg-no-repeat;
}

.border-bottom {
  border-top: 2px solid rgb(230, 227, 227);
  @apply mt-7;
}

.tab {
  @apply bg-white flex justify-center mt-7;
}

/* Style the buttons inside the tab */
.tab button {
  color: rgb(68, 172, 172);
  border: 1px solid rgb(221, 220, 220);
  @apply bg-white cursor-pointer px-2 py-2.5 text-sm font-medium ;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(84, 230, 230);
  @apply text-white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(84, 230, 230);
  @apply text-white;
}

/* Style the tab content */
.tabcontent {
  @apply hidden border-t-0 relative;
}

.btn-left-radius {
  @apply rounded-bl-xl rounded-tl-xl;
}

.btn-right-radius {
  @apply rounded-bl-xl rounded-tl-xl;
}

.tab-heading {
  @apply text-center text-base text-black font-medium mt-0.5 font-sans;
}

.tab1-first-img {
  @apply w-7/12 bg-no-repeat	bg-contain z-50;
}

.image-container {
  @apply flex justify-end	mt-7 mr-5;
}

.one-bg-container {
  background-color: rgb(250, 250, 250);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  @apply h-44	w-44 flex justify-center items-center	absolute top-40;
}

.text-style {
  color: rgb(101, 98, 124);
  @apply text-9xl font-medium;
}

.two-text-style {
  color: rgb(101, 98, 124);
  @apply text-9xl font-medium ml-7;
}

.third-text-style {
  @apply text-9xl font-medium ml-7 -mt-40;
  color: rgb(101, 98, 124);
}

.fist-container {
  @apply flex items-center;
}

.num-one-text {
  @apply z-50 text-black text-base font-sans font-medium leading-5	;
}

.text-container {
  @apply z-50 ml-36	mt-7;
}

.second-container {
  clip-path: polygon(51% 1%, 76% 6%, 100% 0, 100% 91%, 82% 98%, 48% 99%, 20% 95%, 0 98%, 0 0, 21% 5%);
  background-color: rgb(232, 248, 253);
  @apply mt-10 p-5;
}

.second-text_container {
  @apply flex items-center;
}

.erstellen-text {
  @apply mt-16 text-base font-sans text-black;
}

.second-image-container {
  @apply flex justify-center ml-10;
}

.third-image-container {
  @apply flex justify-center -mt-44; 
}

.third-container {
  clip-path: circle(44.7% at 23% 49%);
  background-color: rgb(250, 250, 250);
  @apply h-80 w-80 -mt-10 flex justify-center items-center;
}

.third-main-container {
  @apply flex items-center;
}

.third-text_container {
  @apply flex absolute;
}

.erstellen-dein-text {
  @apply -mt-10 text-base font-sans text-black;
}

</style>
